<h1>Table Product</h1>
<div class="forTable col-10" >
   
   <table class="table table-hover">
      <thead>
         <tr>
            <th>#ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let product of productsList" id="{{product.id}}" >
            <th>{{product.id}}</th>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <div class="forSPan" (click)="delete(product)"></div>
         </tr>
         <tr>
      </tbody>
   </table>
</div>
<div class="container">
<div class="myBtn">
   <button class="btn btn-outline-success" (click)="addClass()">Показать дорогие продукты</button>
</div>
<div class="mySelect">
   <select class="custom-select" (change)="onChange($event.target.value)">
     <option *ngFor="let oneOption of selectOptions" >{{oneOption.value}}</option>
   </select>
 </div>
</div>